<?xml version="1.0" encoding="UTF-8"?>

<suite name="TajSite_Suite" parallel="none" thread-count="1">
    <test name="Chrome-Suite">
            <parameter name="browser" value="chrome"/>
            <listeners>
            
            <listener class-name="com.sreekanth.selenium_TajSite.ListenerClass"/>
            </listeners>
            
            
            <groups>
             <run>
                   <includs> name="smoke"/>
             </includs>
             </run>
            </groups>
    
            <classes>
            <class name="com.sreekanth.selenium_TajSite.ChambersLoginT2"/>
                     
            </classes>
    
    </test>
    <test name="edge-Suite">
            <parameter name="browser" value="edge"/>
    
            <classes>
            <class name="com.sreekanth.selenium_TajSite.ChambersLoginT2"/>
                     
            </classes>
    
    </test>
    
   
</suite>